* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  /* background-image: url(coffee-background.jpg) top center / cover; */
  /* background: url(coffee-background.jpg) no-repeat center center / cover; */
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.5),
      rgba(255, 255, 255, 0.1)
    ),
    url(coffee-background.jpg);
  background-size: cover;
  background-position: center bottom;
  overflow: hidden;
  color: #ccc;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 2rem;
  justify-content: flex-end;
  /* width: 100vw; */
  justify-content: space-evenly;
}

.nav-items a {
  margin: 1rem;
  color: #fff;
  text-decoration: none;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.main-heading {
  font-size: 5rem;
  text-transform: uppercase;
  padding: 0.5rem;
}

.main .main-subheading {
  font-size: 1.5rem;
  padding: 1rem;
}

.main-link {
  padding: 1rem;
  margin-top: 0.8rem;
  color: #ccc;
  background: #6e4525;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}

/* Menu */
.menu-heading {
  padding: 1rem;
}
.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.menu-item {
  background: rgba(255, 255, 255, 0.1);
  padding: 1rem;
  width: 20vw;
  margin: 1rem;
  flex: 1 1 auto;
  border-radius: 1rem;
}

.menu-item h2 {
  padding: 0.6rem 0;
}

.menu-description {
  font-size: 1rem;
}

.menu-img {
  width: 50%;
  border-radius: 50%;
}

/* About */
.about h1 {
  font-size: 3rem;
  padding: 1rem;
}

.about-desc {
  padding-bottom: 4rem;
}

.about p {
  font-size: 1rem;
}

.about input {
  padding: 0.5rem;
  margin: 1rem;
}

.contact-link {
  display: inline-block;
  text-decoration: none;
  margin: 0 1rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  padding: 0.8rem;
  color: #ccc;
  border: none;
  background: #6e4525;
  border-radius: 10px;
  cursor: pointer;
}

/* Blog */

.blog {
  text-align: left;
  padding: 2rem;
}

.blog {
  background: rgba(255, 255, 255, 0.1);
  margin: 1rem;
}

.blog h2 {
  padding-bottom: 1rem;
}
